/**NAVIGATION**/

/**nav li {
    display: inline;
    list-style-type: none;
    margin: 10px;
    padding: 10px;**/
}

a: {
    text-decoration: underline;
    
}

a:visited {
    color: red;
}

a:hover {
    font-weight: bold;    
    
}

a:active {
    text-decoration: none;
    
}

/**HEADER**/

h1 {
    text-align: center;
    
}


#sullivans {
    font-family: 'Montserrat', sans-serif;
    
}


/***FOOTER****/

footer {
    margin: 0px;
    padding: 20px;
    
}

/***possible way to fix footer to the bottom of the page****
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;

}
******************/


/*home page exclusive*/

#homepageContent {
    background-color:antiquewhite;
}



/*menu page exclusive*/


#menu {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: auto;
    border: auto;
  
} 


.food {
    float: left;
    width: 33%;
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: chocolate;
   
    
} 

/**table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 20%;
    background-color:beige;
    border-collapse: collapse;**/
     
}
   
/****OLD CODE****
#hotdogs {
    float: left;
    width: 33%;
    margin: auto;
    padding: auto;
    text-align: center;
}

#sausage {
    float: left;
    width: 33%;
    margin: auto;
    padding: auto;
    text-align: center;
    
}

#tenderloin {
    float: left;
    width: 33%;
    margin: auto;
    padding: auto;
    text-align: center;
      
    
}

#salad {
    float: left;
    width: 33%;
    margin: auto;
    padding: auto; 
    text-align: center;
    
}

#brisket {
    float: left;
    width: 33%;
    margin: auto;
    padding: auto;
    text-align: center;
    
    
}

*****/

.items {
    font-size: large;
    
}


/*contact page exclusive*/

form {
    display: center;
    margin: auto;
    width: 60%;
}

#button {
    color: grey;
}

