

/*
img {
    display: block;
    margin: auto;
    width: 50%;
}
*/


/*****NAVIGATION******/


a {
    text-decoration: none;
    
}

a:hover {
    background-color: red;
    text-decoration: underline;
}


#btr {
    text-align: center;
    margin: 20px;
}



.slaboFont {
    font-family: 'Slabo 27px', serif;
    
}

.members {
    font-family: 'Indie Flower', cursive;
    font-style: italic;
}



 #image{
    background-image: url("http://twt-thumbs.washtimes.com/media/image/2015/08/25/Bruce_Springsteen_Born_to_Run_c0-40-1260-774_s885x516.jpg?fd12cfd41c28516e6a6ef2d03eedf369cf8d4160");
    background-repeat: no-repeat;
    background-color: white;
    height: 340px;
    display: block;
    margin: auto;
    width: 50%;
    background-position: center; 
     
}



/****TABLE********/

/**table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    
    
}
**/

/**.table:nth-child(odd) {
    background-color: green;
    
}

.table:nth-child(even) {
    background-color:bisque;
    
}**/



tbody {
    font-style: italic;
    
}

thead {
    background-color: gray;
    text-align: center;
}